form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 8px;
    background-color: #27293d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .label{
    color:#fff;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for the form labels */
  label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
  /* Style for the form inputs */
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  /* Style for the submit button */
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #dc4ecf;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #c452e9;
  }
  
  /* Style for the forgot password text */
  .forgot-password {
    text-align: right;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #dc4ecf;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  /* Responsive adjustments */
  @media (max-width: 480px) {
    form {
      padding: 15px;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  }
  